<form method="get" action="/logout">
  <input type="submit" value="Logout" style="float: right;">
</form>

<fieldset>
  <legend><h2>Create a New Card: </h2></legend>

  <form action="/cards" method="POST">
    <h4>Card Name: <input type="text" name="card[name]" placeholder="Card Name"></h4>
    <h4>Manna Cost: <input type="text" name="card[manna_cost]" placeholder="Manna Cost"> Example: 2 Red 1 Colorless = 1RR</h4>
    <h4>Value: $<input type="text" name="card[value]" placeholder="Value"></h4>
    <h4>Quantity: <input type="number" name="card[quantity]" placeholder="Quantity"></h4>

  <h4>Quality:
    <%MagicCard.qualities.each do |quality|%>
      <input type="radio" name="card[quality]" value="<%=quality%>" id="<%=quality%>"> <%="#{quality}"%> </input>
    <%end%>
  </h4>

  <h4>Foil:
    <input type="radio" name="card[foil]" value=true> <%="Yes"%> </input>
    <input type="radio" name="card[foil]" value=false> <%="No"%> </input>

  <h4>Color:
    <%MagicCard.colors.each do |color|%>
      <input type="radio" name="card[color]" value="<%=color%>" id="<%=color%>"> <%="#{color}"%> </input>
    <%end%>
  </h4>

  <h4>Super Type:
    <%MagicCard.super_types.each do |super_type|%>
      <input type="radio" name="card[super_types]" value="<%=super_type%>" id="<%=super_type%>"> <%="#{super_type}"%> </input>
    <%end%>
  </h4>

  <h4>Type:
    <%MagicCard.types.each do |type|%>
      <input type="radio" name="card[types]" value="<%=type%>" id="<%=type%>"> <%="#{type}"%> </input>
    <%end%>
  </h4>

  <h4>Rarity:
    <%MagicCard.rarities.each do |rarity|%>
      <input type="radio" name="card[rarity]" value="<%=rarity%>" id="<%=rarity%>"> <%="#{rarity}"%> </input>
    <%end%>
  </h4>

  <h4>Set:
    <select name="card[set]">
      <%MagicCard.sets.each do |set|%>
      <option value="<%=set%>" name="card[set]" ><%="#{set}"%></option>
      <%end%>
    </select>
  </h4>

    <input type="submit" value="Create Card">
  </form>
</fieldset>
