<form method="get" action="/logout">
  <input type="submit" value="Logout" style="float: right;">
</form>

<fieldset>
  <legend><h2><%=@user.name.titlecase%>: </h2></legend>

  <fieldset>
  <form action="/decks/new" method="get">

  <h4 style="display: inline-block">Decks: <input type="submit" value="Create New Deck"/></h4></br>
    <%@user.decks.each do |deck| %>
      <a href=<%="/decks/#{deck.slug}"%>><%= deck.name %></a></br>
    <%end %>
  </form>

  </fieldset>

  </br></br>

  <fieldset>
    <form action="/cards/new" method="get">
      <h4 style="display: inline-block">Cards: <input type="submit" value="Create New Card"/></h4>
    </form>

    <% @user.magic_cards.each do |card| %>
      <a href=<%="/cards/#{card.slug}"%>><%=card.name%></a></br>
    <%end%>
  </fieldset>
</fieldset>
