<h3><%=@user.name.titlecase%>: </h3>

<form action="/decks/new" method="get">
  <h4 style="display: inline-block">Decks:</h4> <input type="submit" value="Create New Deck"/>
</br>
  <%@user.decks.each do |deck| %>
    <a href=<%="/decks/#{deck.slug}"%>><%= deck.name %></a></br>
  <%end %>
</form>

<form action="/cards/new" method="get">
  <h4 style="display: inline-block">Cards:</h4> <input type="submit" value="Create New Card"/>
</form>
  <% @user.magic_cards.each do |card| %>
    <a href=<%="/cards/#{card.slug}"%>><%=card.name%></a></br>
  <%end%>
