<form action="/decks/<%=@deck.slug%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <fieldset>
    <legend><h3>Edit <%="#{@deck.name}"%>:</h3></legend>

    <p>Deck Name: <input type="text" name="deck[name]" value="<%=@deck.name%>"></p>

    Format:
      <select name="deck[format]">
        <%Deck.formats.each do |format|%>
          <option value="<%=format%>" name="deck[format]" <%='selected' if @deck.format == format %>><%="#{format}"%></option>
        <%end%>
      </select>

    </br></br>

      <fieldset>
        <legend>Select the cards you want in this deck:</legend>
          <%current_user.magic_cards.each do |card|%>
            <input type="checkbox" name="cards[]" value="<%="#{card.id}"%>" <%='checked' if @deck.magic_cards.include?(card) %>> <%="#{card.name}"%> </input>
          <%end%>
      </fieldset>
    </br>
      <input type="submit" value="Submit Deck Changes">
  </form>

  </br></br>

      <form action="/decks/<%=@deck.slug%>/edit" method="POST">
        <fieldset>
          <legend>Create a New Card:</legend>

          <h5>Once you create your new card don't forget to add it to your deck with the checkboxes above</h5>

          <p>Card Name: <input type="text" name="card[name]" placeholder="Card Name"></p>
          <p>Manna Cost: <input type="text" name="card[manna_cost]" placeholder="Manna Cost"> Example: 2 Red 1 Colorless = 1RR</p>
          <p>Value: $<input type="text" name="card[value]" placeholder="Value"></p>
          <p>Quantity: <input type="number" name="card[quantity]" placeholder="Quantity"></p>

        <h4>Quality:</h4>
          <%MagicCard.qualities.each do |quality|%>
            <input type="radio" name="card[quality]" value="<%=quality%>" id="<%=quality%>"> <%="#{quality}"%> </input>
          <%end%>

        <h4>Foil:</h4>
          <input type="radio" name="card[foil]" value=true> <%="Yes"%> </input>
          <input type="radio" name="card[foil]" value=false> <%="No"%> </input>

        <h4>Color(s):</h4>
          <%MagicCard.colors.each do |color|%>
            <input type="radio" name="card[color]" value="<%=color%>" id="<%=color%>"> <%="#{color}"%> </input>
          <%end%>

          <h4>Super Type(s):</h4>
            <%MagicCard.super_types.each do |super_type|%>
              <input type="radio" name="card[super_types]" value="<%=super_type%>" id="<%=super_type%>"> <%="#{super_type}"%> </input>
            <%end%>

          <h4>Type(s):</h4>
            <%MagicCard.types.each do |type|%>
              <input type="radio" name="card[types]" value="<%=type%>" id="<%=type%>"> <%="#{type}"%> </input>
            <%end%>

          <h4>Rarity:</h4>
            <%MagicCard.rarities.each do |rarity|%>
              <input type="radio" name="card[rarity]" value="<%=rarity%>" id="<%=rarity%>"> <%="#{rarity}"%> </input>
            <%end%>

          <h4>Set: </h4>
          <select name="card[set]">
            <%MagicCard.sets.each do |set|%>
            <option value="<%=set%>" name="card[set]" ><%="#{set}"%></option>
            <%end%>
          </select>

          </br>
          </br>

          <input type="submit" value="Create Card">
        </fieldset>
      </form>
    </br>
</fieldset>
