<form method="get" action="/logout">
  <input type="submit" value="Logout" style="float: right;">
</form>

<fieldset>
  <legend><h2><%="#{@deck.name.titlecase}"%>:</h2></legend>

  <form action="/decks/:slug/show" method="GET">

    <h4>Format: <%="#{@deck.format}"%></h4>

    <ul>
      <%@deck.magic_cards.each do |card| %>
        <%="<li>#{card.name.titlecase}</li>"%>
      <%end%>
    </ul>
  </form>

  <form method="get" action="/decks/<%=@deck.slug%>/edit">
      <input id="hidden" type="hidden" name="_method" value="edit">

    <input type="submit" value="Edit Deck">
  </form>

  <form method="post" action="/decks/<%=@deck.slug%>/delete">
      <input id="hidden" type="hidden" name="_method" value="delete">

    <input type="submit" value="Delete Deck">
  </form>
</fieldset>
